# ==================================================
# Dependencies
# ==================================================

node_modules/

# ==================================================
# Build
# ==================================================

dist/
dist-ssr/

# ==================================================
# Logs
# ==================================================

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==================================================
# Environment Variables
# ==================================================

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ==================================================
# IDE
# ==================================================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# ==================================================
# Operating System
# ==================================================

.DS_Store
Thumbs.db

# ==================================================
# Coverage
# ==================================================

coverage/

# ==================================================
# Cache
# ==================================================

.cache/
.temp/
tmp/

# ==================================================
# Vite
# ==================================================

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# ==================================================
# Docker
# ==================================================

docker-data/

# ==================================================
# Misc
# ==================================================

*.swp
*.swo